<div class="filters">
  <%= search_form_for :q, url: collection_path, method: :get, html: { class: 'filter_form' } do |f| %>
    <div class="filter">
      <%= f.label :created_at, 'Timeframe' %>
      <%= f.date_range_field :created_at %>
    </div>

    <div class="filter">
      <%= f.label :residence_id_eq, 'Residence' %>
      <%= f.select :residence_id_eq, options_for_select(['All', 'No Residence'], 'no_residence') %>
    </div>

    <div class="actions">
      <%= f.submit 'Filter', class: 'button' %>
    </div>
  <% end %>
</div>